---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro">
	<main>
		<section class="flex">
			<div>
				<h1 class="text-white border border-red-500">David <br> Ramírez</h1>
				<h2></h2>
			</div>
			<h2>Desarrollador Web y Músico. De Palma de Mallorca, España. Especializado en crear aplicaciones únicas</h2>
		</section>
		</main>
</Layout>
