---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import CodeIcon from "../components/icons/Code.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import About from "../components/About.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
---

<Layout
title="Portfolio de David Ramírez - Desarrollador y Programador Web"
description="Portfolio de David Ramírez, Desarrollador Web y Músico. Desde Palma de Mallorca, España. Apasionado por la programación y la música, soy una persona motivada por el constante aprendizaje. Mi objetivo es aplicar mis habilidades en desarrollo web y seguir creciendo profesionalmente en este campo."
>
	<main>
			<SectionContainer id="contact" class="flex justify-center items-center h-screen">
				<div class="flex flex-col md:items-center md:flex-row md:gap-x-20">
					<div>
							<h1 class="text-7xl font-bold">David <br /> Ramírez</h1>
							<h2 class="text-gray-400">Desarrollador Web</h2>
					</div>
					<div>
						<div class="py-5 flex flex-col gap-y-10 items-center">
							<a href="https://www.linkedin.com/in/david-ram%C3%ADrez-ruiz-42899025a/" target="_blank">
								<Badge>Disponible para trabajar</Badge>
							</a>
							<div class="flex gap-x-3">
								<SocialPill href="https://www.linkedin.com/in/david-ram%C3%ADrez-ruiz-42899025a/">
									<LinkedinIcon class="size-6" />
								</SocialPill>
								<SocialPill  href="https://github.com/davidzz-code/">
									<GitHubIcon class="size-6"></GitHubIcon>
								</SocialPill>
								<SocialPill id="mail-button" class="relative group">
									<MailIcon class="size-6"></MailIcon>
									<span id="mail-text" class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 w-32 bg-black text-white dark:bg-gray-200 dark:text-black text-center text-xs rounded py-1 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
										Copiar email
									</span>
								</SocialPill>
							</div>
						</div>
					</div>
				</div>
			</SectionContainer>

			<SectionContainer id="projects" class="mb-40">
				<div class="flex items-center gap-x-2 mb-10">
					<CodeIcon class="size-8"/>
					<h2 class="text-4xl font-semibold">Proyectos</h2>
				</div>
				<Projects />
			</SectionContainer>

			<SectionContainer id="experience" class="mb-40">
				<div class="flex items-center gap-x-2 mb-10">
					<BriefcaseIcon class="size-8"/>
					<h2 class="text-4xl font-semibold">Experiencia</h2>
				</div>
				<Experience />
			</SectionContainer>

			<SectionContainer id="about" class="mb-40">
				<div class="flex items-center gap-x-2 mb-10">
					<BriefcaseIcon class="size-8"/>
					<h2 class="text-4xl font-semibold">Sobre mí</h2>
				</div>
				<About />
			</SectionContainer>
	</main>
</Layout>
<script>
	const mail = 'rrdavid08@gmail.com';
	const mailButton = document.getElementById('mail-button');
	let mailText = document.getElementById('mail-text');

	mailButton?.addEventListener('click', async () => await writeClipboardText(mail))

	const writeClipboardText = async (text: string) => {
		try {
			await navigator.clipboard.writeText(text);
			if (mailText) {
				mailText.textContent = 'Email copiado ✅'
				setTimeout(() => {
					mailText.textContent = 'Copiar email'
				}, 2000);
			}
		} catch (error: any) {
			console.error(error.message)
		}
	}
</script>