<article class="flex gap-x-4 items-center text-pretty">
  <div class="flex flex-col gap-y-3 font-light">
      <p>
        Desde la isla de Mallorca me he ido formado en la programación. En los
        últimos años estudié un <span>grado superior como técnico de sonido</span>, lo que
        me llevó a trabajar en rodajes, conciertos y grabaciones de estudio.
        También tengo <span>experiencia como auxiliar administrativo en una asesoría
        fiscal. Y ahora mismo he terminado el grado superior en desarrollo web.
      </p>
      <p>
        Estoy orgulloso de haber sido reconocido como uno de los tres mejores 
        estudiantes de desarrollo web de mi curso, lo que me brindó la oportunidad 
        de realizar prácticas en una empresa de alto nivel. Durante este periodo, 
        no solo mejoré mis habilidades técnicas, sino que también desarrollé competencias 
        clave como la resolución de problemas, la gestión del tiempo y la comunicación 
        efectiva. Además, aprendí a trabajar en equipo de manera eficiente y colaborativa.
      </p>
      
      <p>
        Entre mis aficiones se encuentran la música, los videojuegos, y el
        deporte. La música ha sido mi compañera desde la infancia, primero con
        el clarinete y durante los últimos años con el bajo eléctrico.
      </p>
  </div>
  <div class="h-full p-8">
    <img
        class="h-full border-2 border-black dark:border-white"
        src="/avatar.jpg"
        alt="Una foto de un desarrollador web"
    />
  </div>
</article>
