<article class="flex items-center text-pretty">
  <div class="flex flex-col gap-y-3 font-light">
    <p>
      Desde la isla de Mallorca me he ido formado en la programación.
      Empecé en la programación con un Amstrad, tenía 10 años. Actualmente
      estoy liderando equipos de desarrollo en multinacionales.
    </p>
    <p>
      Algunos de mis éxitos incluyen colaborar con Mozilla para el desarrollo
      de las primeras apps en su sistema FirefoxOS. Aunque hoy está
      desaparecido fue un gran avance en el mundo del desarrollo web.
    </p>
    <p>
      Como creador de contenido, cuento con el canal de habla hispana más
      visto del mundo en la categoría de Software & Game Development en
      Twitch. Mi objetivo es mejorar la empleabilidad de la comunidad hispana
      y el acceso a contenido de calidad.
    </p>
  </div>
  <img
      class="w-1/3 h-full p-5"
      src="/avatar.jpg"
      alt="Una foto de un desarrollador web"
  />
</article>
								<!-- Desde Palma de Mallorca, España. Apasionado por la programación y
								la música, soy una persona motivada por el constante aprendizaje.
								Mi objetivo es aplicar mis habilidades en desarrollo web y seguir
								creciendo profesionalmente en este campo. -->