<article class="flex flex-col md:flex-row gap-x-4 items-center text-pretty">
  <div class="flex flex-col gap-y-5 mb-6 font-light md:gap-y-3 md:mb-0">
      <p>
        Desde la isla de <span class="font-bold">Mallorca</span> me he ido formado
        en la programación. En los últimos años estudié un grado superior como <span
            class="font-bold">técnico de sonido</span
        >, lo que me llevó a trabajar en rodajes, conciertos y grabaciones de
        estudio. También tengo experiencia como <span class="font-bold"
            >auxiliar administrativo en una asesoría fiscal</span
        >. Y ahora mismo he terminado el grado superior en desarrollo web.
      </p>
      <p>
        Estoy orgulloso de haber estado entre los <span class="font-bold"
            >mejores estudiantes del curso</span
        >, sobre todo teniendo en cuenta que trabajaba mientras completaba los
        estudios. Fue un reto gestionar el tiempo y mantener un buen
        rendimiento académico es por eso que me siento satisfecho de haberlo
        logrado.
      </p>
      <p>
        Entre mis aficiones se encuentran <span class="font-bold"
            >la música, los videojuegos, y el deporte</span
        >. La música ha sido mi compañera desde la infancia, primero con el
        clarinete y durante los últimos años con el bajo eléctrico.
      </p>
  </div>
  <div class="h-full w-2/3 md:w-1/6 flex justify-center md:flex-none bg-red-300">
    <img
      class="border-2 border-black dark:border-white"
      src="/avatar.jpg"
      alt="Una foto de un desarrollador web"
    />
  </div>
</article>
