---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Mar 2024 - Jun 2024",
    title: "Prácticas en Desarrollo Web",
    company: "Omniaccess",
    description: 
      "En Omniaccess, una empresa líder en el sector de las telecomunicaciones navales, migré conexiones de WebSocket a una API en Nest.js y desarrollé endpoints para la comunicación entre frontend y backend. También creé vistas basadas en diseños de Figma para un cliente importante. Aprendí a integrarme en un equipo profesional, gestionando plazos con GitLab y Jira, y me especialicé en Vue.js, Node.js, y maquetación con Tailwind CSS, mejorando mis habilidades en JavaScript y diseño."
  },
  {
    date: "Sep 2022 - Jun 2024",
    title: "Grado Superior en Desarrollo de Aplicaciones Web",
    company: "Borja Moll",
    description:
      "Durante 2 años me formé en las bases de la programación y el desarrollo web. A través de varios proyectos en solitario y en equipo he aprendido a desarrollar aplicaciones web desde cero con todo tipo de tecnologías.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
      EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4 text-pretty w-full md:w-3/4">
          <ExperienceItem {...experience} />
        </li>
      ))
  }
</ol>
