---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Mar 2024 - Jun 2024",
    title: "Prácticas en Desarrollo Web",
    company: "Omniaccess",
    description:
      "En Omniaccess, una empresa líder en el sector de las telecomunicaciones navales, trabajé en diversos proyectos de desarrollo web. Aprendí a integrarme en un equipo profesional, gestionando deadlines y usando Git en un entorno colaborativo. En el aspecto técnico, me enfoqué en el desarrollo con Vue, Node.js y para maquetar Tailwind, mejorando así mis habilidades."
  },
  {
    date: "Sep 2022 - Jun 2024",
    title: "Grado Superior en Desarrollo de Aplicaciones Web",
    company: "Borja Moll",
    description:
      "Durante 2 años me formé en las bases de la programación y el desarrollo web. A través de varios proyectos en solitario y en equipo he aprendido a desarrollar aplicaciones web desde cero con todo tipo de tecnologías.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
      EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4 text-pretty w-full md:w-3/4">
          <ExperienceItem {...experience} />
        </li>
      ))
  }
</ol>
