---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
      date: "Mar 2024 - Jun 2024",
      title: "Prácticas en Desarrollo Web",
      company: "Omniaccess",
      description:
        "En Omniaccess, trabajé en proyectos de desarrollo web para cruceros, mejorando mis habilidades en Vue, Node.js y Tailwind, y aprendiendo a trabajar en equipo con Git y gestionar deadlines.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
      EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4 text-pretty w-full md:w-3/4">
          <ExperienceItem {...experience} />
        </li>
      ))
  }
</ol>
