---
import LinkedinIcon from "./icons/Linkedin.astro";
import GitHubIcon from "./icons/GitHub.astro";
---

<footer class="w-full">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <hr
        class="my-6 border-gray-500 sm:mx-auto dark:border-gray-700 lg:my-8"
      />
      <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
            >© 2024 · David Ramírez
        </span>
        <div class="flex mt-4 sm:justify-center sm:mt-0">
            <a
              href="https://www.linkedin.com/in/david-ram%C3%ADrez-ruiz-42899025a/"
              target="_blank"
              class="text-gray-400 hover:text-black dark:hover:text-white ms-5"
            >
              <LinkedinIcon class="size-4" />
            <span class="sr-only">Linkedin page</span>
            </a>
            <a
              href="https://github.com/davidzz-code/"
              target="_blank"
              class="text-gray-400 hover:text-black dark:hover:text-white ms-5"
            >
              <GitHubIcon class="size-4" />
              <span class="sr-only">GitHub account</span>
            </a>
        </div>
      </div>
  </div>
</footer>
