---
import ThemeToggle from './ThemeToggle.astro'

const MENUS = [
  {
    title: 'Proyectos',
    href: '#projects',
  },
  {
    title: 'Experiencia',
    href: '#experience',
  },
  {
    title: 'Contacto',
    href: '#contact',
  },
  {
    title: 'Sobre mí',
    href: '#about',
  },
]
---

<header class="flex justify-center items-center w-[1000px] mt-5 py-4">
  <nav class="flex flex-row gap-x-10 items-center opacity-80">
    {
      MENUS.map(menu => (
        <a class="border-2 border-spacing-1 border-transparent hover:border-b-red-700 transition ease-in-out" href={menu.href} >{menu.title}</a>    
      ))
    }
    <ThemeToggle />
  </nav>
</header>